body {
	margin: 0;
	padding: 0;
	background-color: #000000;	
	color: #000000;
}

div.templates {
	display: none;
}

h1 {
	color: white;
}

h2 {
	color: blue;
}

/* window */
.game_screen {
	margin: 0px auto;
	position: relative;
	width: 90%;
	min-height: 500px;
	background: rgba(255, 255, 255, 0.1);
}

/* create deck */
.card_container {	
	margin: 0px auto;
	position: relative;
	width: 90%;	
	min-height: 300px;	
	background: rgba(255, 255, 255, 0.1);		
}

.card_container div {	
	display: inline-block;
	margin: 5px 5px;
}

/* card */

.card {
	position: relative;
	width: 250px;
	height: 350px;
	background: rgba(255, 255, 255, 1.0);	
	padding: 0px 0px;
}

.banned {
	transform: scale(0.75, 0.75);
}

.card_cost {	
	text-shadow: white 0.1em 0.1em 0.2em;
	font-size: 20px;
	color: rgba(0, 0, 200, 1.0);
	position: absolute;
	text-align: center;
	line-height: 40px;
	vertical-align: middle;
	background: rgba(0, 0, 255, 0.5);
	border-radius: 100px;
	top: 0px;
	right: 0px;
	width: 40px;
	height: 40px;
}

.card img.minion {
	width: 250px;
	
	position: absolute;
	clip: rect(100px, 100px; 100px, 0px);	
}

.card .card_content .name {
	color: black;
	font-size: 20px;
	width: 190px;
	height: 40px;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: white 0.1em 0.1em 0.2em;
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 80px;
	padding: 0px 0px;
	text-align: center;
}

.card .stats{
	background: white;
	margin: 0px 0px;
}

.card .life{
	text-shadow: red 0.1em 0.1em 0.2em;
	width: 50px;
	display: block;
}

.card .attack {
	text-shadow: green 0.1em 0.1em 0.2em;
	width: 100px;
}

.card .card_content{
	position: absolute;
	padding: 0px 0px;
	top: 0px;
	left: 0px;
}

.card .property {
	width: 117px;
	font-size: 20px;
	display: inline-block;
	margin-bottom: 5px;
	margin-left: 0px;
	margin-right: 0px;		
}

.card .property button{
	width: 22px;
	height: 22px;
	float: right;
}

.card .property p {
	margin: 0px 0px;
	padding: 0px 0px;
	display: inline-block;
}

.card .extra {
	width: 100%;
	margin-bottom: 5px;
}

/* modal */
.modal {	
	z-index: 6666;
	position: fixed;
	width: 100%;
	height: 100%;	
	background: rgba(0, 0, 0, 0.5);
}

.modal .content {
	width: 950px;
	min-height: 300px;
	margin: 50px auto;
	background: rgba(255, 255, 255, 0.9);
}